<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.habittracker"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Needed for setExact* on Android 12+ -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitTracker"
        android:icon="@mipmap/todolist"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".TodoDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.HabitTracker.Transparent" />

        <activity
            android:name=".AddTodoActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />
    </application>
</manifest>
